* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "PT Sans", sans-serif;
}

html {
  scroll-behavior: smooth;
}
body {
  width: 100%;
}
.main-body {
  display: flex;
  width: 100%;
}

nav ul,
.main-body {
  /* display: flex; */
  flex-wrap: nowrap;
  justify-content: space-between;
  color: rgb(70, 16, 16);
}

nav ul {
  display: flex;
}
body {
  background-color: beige;
}

header {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-evenly;
  padding: 40px 0;
}

header h1,
header a,
.about h1,
.text p,
.contact h1 {
  color: rgb(36, 14, 14);
}

li {
  list-style: none;
  margin-left: 30px;
}

.left-side-nav {
  margin-top: -50px;
}
.left-side-nav a {
  padding: 12px 25px;
  background-color: none;
  border: 3px solid rgb(247, 16, 150);
  color: rgb(247, 16, 150);
  font-size: 0.8rem;
  letter-spacing: 2px;
  position: relative;
  top: 80px;
  overflow: hidden;
  transition: 0.5sn;
  display: inline-block;
}
.left-side-nav a:hover {
  color: rgb(245, 241, 241);
}
.left-side-nav a::before {
  content: "";
  background-color: rgb(247, 16, 150);
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 0%;
  z-index: -1;
  transition: 0.5s;
}

.left-side-nav a:hover::before {
  height: 100%;
}

/* Social Media Icons  */
.social-media {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 200px;
}

a {
  text-decoration: none;
  font-size: 0.9rem;
  text-transform: uppercase;
  position: relative;
  top: 50%;
  bottom: 50%;
  transform: translateY(-50%);
}

.main-body {
  height: calc(100vh - 81.6px);
}

.text {
  margin-top: 200px;
}

.text h1 {
  color: rgb(70, 16, 16);
  font-size: 3rem;
  cursor: context-menu;
}

.text span {
  display: inline-block;
  font-size: 5vw;
}

span:hover {
  color: rgb(247, 16, 150);
  transition: all 0.5s;
}

span.name {
  color: rgb(247, 16, 150);
}

span.left-side {
  margin-left: -10px;
}

.text p {
  letter-spacing: 3px;
  word-spacing: 10px;
  font-size: 0.8rem;
}

.text a {
  padding: 12px 25px;
  background-color: none;
  border: 3px solid rgb(247, 16, 150);
  color: rgb(247, 16, 150);
  font-size: 0.8rem;
  letter-spacing: 2px;
  position: relative;
  top: 80px;
  overflow: hidden;
  transition: 0.5sn;
  display: inline-block;
}

.text a:hover {
  color: rgb(245, 241, 241);
}
.text a::before {
  content: "";
  background-color: rgb(247, 16, 150);
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 0%;
  z-index: -1;
  transition: 0.5s;
}

.text a:hover::before {
  height: 100%;
}

/* Slide Container  */

.slideshow-container {
  margin-top: 70px;
  position: relative;
  margin-left: -80px;
  width: 75%;
  height: 100%;
}

.slideshow-container > img {
  position: absolute;
  border-radius: 15%;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: opacity 1s;
  object-fit: cover;
  object-position: center;
}

.slideshow-container .show {
  opacity: 1;
}

#contact {
  width: 80vh;
}
.contact-form h1 {
  margin-top: 200px;
  text-align: center;
  color: rosybrown;
  font-family: flood-std, sans-serif;
  font-size: 3rem;
  font-weight: 400;
}

form {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
}
form input,
form textarea {
  vertical-align: middle;

  position: relative;
  /* display: block; */
  width: 100%;
  padding: 20px;
  background-color: rgb(247, 236, 236);
  border: 3px solid rgb(104, 43, 78);
  margin: 20px 0;
  outline: none;
  font-size: 1, 2rem;
  color: rgb(108, 109, 101);
  left: 50%;
  /* right: 50%; */
  transform: translateX(-50%);
}

form input:last-child {
  width: 150px;
  background-color: rgb(247, 236, 236);
  cursor: pointer;
}

@media screen and (max-width: 750px) {
  .slideshow-container {
    display: none !important;
  }

  .text h1,
  p,
  span {
    font-size: 7vw !important;
  }

  .left-side-nav {
    padding: 2vh 2vh 2vh 2vh;
  }
  .text {
    margin-top: 35px !important;
  }

  .text a {
    margin-left: 15vh;
  }
  .contact-form h1 {
    margin-top: 0;
  }

  .main-body {
    height: calc(75vh - 81.6px);
  }

  form {
    flex-direction: column;
    align-items: stretch;
  }

  form input {
    margin: 10px 0;
  }
}

@media screen and (max-width: 583px) {
  .contact-form {
    display: none;
  }
}
